<EditForm Model="Department">
    <InputText id="name" class="form-control" placeholder="Name"
               @bind-Value="Department.DepartmentName" />
    <button class="btn btn-primary">Save</button>
</EditForm>

